
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">


    <div class="section group">

        <br />
        <p class="txt-center icon-addcart"><span><i class="icon-check"></i></span></p>
        <br />
        <h2 class="txt-center">Thanks you</h2>
    </div>

</div>


