
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Models.EF;
@using Models.Dao;
@model CartModel
<div class="content">
    <div class="section group">
        <div class="process-wrap">
            <div class="process text-center active">
                <p><span>01</span></p>
                <h3>Shopping Cart</h3>
            </div>
            <div class="process text-center active">
                <p><span>02</span></p>
                <h3>Checkout</h3>
            </div>
            <div class="process text-center">
                <p><span>03</span></p>
                <h3>Order Complete</h3>
            </div>
        </div>
    </div>
    <div class="section group">

        <div class="col span_2_of_3">
            <div class="contact-form">
                <h2>CHECKOUT INFORMATION</h2>
                <form method="post">
                    <div>
                        <span><label>UserName</label></span>
                        <span><input type="text" class="textbox" name="CustomerUsername"></span>
                    </div>
                    <div>
                        <span><label>Passwword</label></span>
                        <span><input type="text" class="textbox" name="CustmerPassword"></span>
                    </div>
                    <div>
                        <span><label>Name</label></span>
                        <span><input type="text" class="textbox" name="CustomerName"></span>
                    </div>
                    <div>
                        <span><label>Phone</label></span>
                        <span><input type="text" class="textbox" name="CustomerPhone"></span>
                    </div>
                    <div>
                        <span><label>Adress</label></span>
                        <span><input type="text" class="textbox" name="CustomerAdress"></span>

                    </div>
                    <div>
                        <span><input type="submit" value="Submit" class="myButton"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col span_1_of_3">

            
        </div>
    </div>
</div>

